.timer {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;

  .progress-container {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}

.progress-spinners {
  position: relative;
  width: 100px;
  height: 100px;;

  .timer-bg {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;

    circle {
      stroke: gray;
    }
  }

  .timer-primary {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
  }

  .timer-warn {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
  }

  .time-remaining {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);

    span {
      font-size: 22px;
      font-family: Roboto;
      text-align: center;
    }
  }
}
