<div class="timer">
  <div class="progress-container">
    <div class="progress-spinners">
      <mat-progress-spinner class="timer-bg" mode="determinate" [value]="100"></mat-progress-spinner>
      <mat-progress-spinner *ngIf="timerProgress <= 100 && extraRest <= 100" class="timer-primary" mode="determinate" [value]="timerProgress"></mat-progress-spinner>
      <mat-progress-spinner *ngIf="timerProgress >= 100 && extraRest <= 100" class="timer-warn" mode="determinate" [value]="extraRest" color="warn"></mat-progress-spinner>
      <mat-progress-spinner *ngIf="extraRest >= 100" class="timer-warn" mode="indeterminate" color="warn"></mat-progress-spinner>
      <div class="time-remaining">
        <span [style.color]="restExceeded ? 'red' : 'initial'">{{ timeRemaining | minuteSeconds }}</span>
      </div>
    </div>
  </div>
  <div class="action-row">
    <button mat-button color="primary" (click)="startTimer()" [disabled]="isRunning">Start</button>
    <button mat-button color="primary" (click)="resetTimer()" [disabled]="!isRunning">Reset</button>
  </div>
</div>
