.journal-entry-list {
  .mat-expansion-panel {
    .small {
      font-size: 12px;
      margin-right: 16px;
    }
    .muted {
      opacity: .66;
    }
  }
}

.exercise-name {
  flex: 2;
}

.volumes {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  text-align: right;

  span {
    width: 100%;
  }

  .exercise-goal-volume {
    opacity: .66;
    display: flex;
    justify-content: space-between;
  }

  .performance-volume {
    display: flex;
    justify-content: space-between;
  }

  .sets {
    text-align: center;
  }

  .separator {
    text-align: center;
  }
}

.mat-action-row .spacer {
  flex: 1;
}
