/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html,
body,
nav {
  height: 100%;
}

body {
  margin: 0;
}

.mat-spinner {
  margin: auto;
  margin-top: calc(50vh - 100px);
}

.stats.mat-list-item {
  .mat-list-item-content {
    width: 100%;
  }
}

.routine-list.mat-accordion {
  .mat-list-item-content {
    justify-content: space-between;
  }
}

.journal-entry-list {
  .mat-expansion-panel-header {
    span.mat-content {
      justify-content: space-between;
      align-items: center;
    }
  }
}

.journal-entry {
  .set__performance {
    .mat-form-field-infix {
      width: auto;
    }
  }
}

.uh-oh {
  max-height: 100vh;
  width: 100vw;
  text-align: center;
  padding-top: 2rem;

  img {
    height: 33vh;
  }

  &__text {
    margin: 4rem 2rem 2rem;
  }
}

.mat-progress-spinner.timer-bg circle,
.mat-spinner circle {
  stroke: lightgray;
}
