$text-margin: 16px;

.home {

  text-align: center;

  &__header {

    &__title {
      margin: 4vh auto;
    }

    &__subtitle {
      margin-left: $text-margin;
      margin-right: $text-margin;
    }
  }

  &__hero {
    margin: 8vh auto 8vh;
    min-width: 100%;

    &__placeholder {
      animation-duration: 1s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-name: placeHolderShimmer;
      animation-timing-function: linear;
      background: #f6f7f8;
      background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
      background-size: 936px;
      animation: placeHolderShimmer 2s ease-in-out infinite;
      width: 100%;
    }

    &__image {
      width: 100%;
    }
  }

  &__info{
    margin-bottom: 4vh;

    &__text {
      margin-left: $text-margin;
      margin-right: $text-margin;
    }
  }

  &__message {

    &__text {
      opacity: .66;
    }
  }
}

@keyframes placeHolderShimmer{
  0%{
      background-position: -468px 0
  }
  100%{
      background-position: 468px 0
  }
}
